<mat-form-field 
    class="full-width"
    *ngFor="let locationName of locationNames; let index = index; trackBy:trackByIndex;">
  <input matInput placeholder="Location" [(ngModel)]="locationNames[index]">
</mat-form-field>
<button mat-icon-button color="primary" (click)="addLocation()">
  <mat-icon aria-label="Add location">add</mat-icon>
</button>
<button mat-raised-button color="primary" (click)="go()">Go</button>