<div class="wrapper">
  <div class="mapContainer">
    <app-map #map></app-map>
  </div>
  <div class="locationFormContainer">
    <app-locations-form (onGo)="map.go($event)"></app-locations-form>
  </div>
</div>